/*
 * --------------------------------------------------
 *    Nextflow config file for the RNA-Seq pipeline
 * --------------------------------------------------
 */

executor {
    name                = 'slurm'
    perCpuMemAllocation = true
	exitReadTimeout     = '5 days'
}

singularity {  
	enabled    = true
	autoMounts = true
	runOptions = '-B /cluster'
}

process {

	/* ========================================================================================
		DEFAULT PARAMETERS
	======================================================================================== */
	beforeScript    = 'module load eth_proxy'
	scratch         = 'true'
	time            = 4.hour
	memory          = 5.GB
	cpus            = 1
	errorStrategy   = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
  	maxRetries      = 3
	array           = 50

}


/* ========================================================================================
	PIPELINE INFO
======================================================================================== */
timeline {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_timeline.html"
}

report {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_report.html"
}

trace {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_trace.txt"
}
